html {
	background: #F3F3F3;
	font-family: 'Open Sans', sans-serif;
	width:100%;	height: auto;
}

body {
	margin-left: auto;
	margin-right: auto;
	background: white;
	width: 80%; 
	height: 100%;
	max-width: 800px;
	padding: 10px 15px 10px 15px;
}

hr {
	border: 0px;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

h1 {
	margin: 0;
}

h2 {
	font-size: 1.17em;
}

#whitespaces {
	font-size: 29pt;
}

.app {
	min-height: 100%;
	position: relative;
	min-width: 100%;
}

#table_rules {
	margin: 5px 0px 0px 5px;
}

#table_rules input {

	border: 1px solid grey;
	text-align: center;
	width: 70px;
	border-radius: 8px;
	outline: none;
}

.rule:hover {
	background: ghostwhite;
	transition: 0.3s;
}

.rule:focus {
	border-radius: 20px !important;
	border-color: black !important;
	background: white !important;
}

.spectd input:hover {
	background: #E5E3FFFF;
	transition: 0.3s;
}

.spectd input:focus {
	border-radius: 20px !important;
	border-color: black !important;
	background: #eeeeff !important;
}

#table_rules td {
	text-align: center;
	border: 0px;
	width: 60px;
}

.state {
	border-radius: 3px;
	border: 1px solid lightgrey !important;
	background: #eeeeff;
}

#corner {
	background: #FFF;
}
.spectd {
	border-radius: 8px;
	border: 1px solid lightgrey;
	background: #eeeeff;
}

.spectd input {
	background: #eeeeff;
}

#alphabet td {
	background: #fff;
}

#alphabet input {
	border-radius: 3px;
}

#tableblock {
	border: 1px solid lightgrey;
	border-radius: 8px;
	height: 350px;
	max-width: 800px;
	overflow: auto;
	margin-bottom: 8px;
}


.app button {
	border: 1px solid grey;
	border-radius: 8px; 
	outline: none;
	margin-bottom: 5px;
}

.tablebutton {
	height: 30px;
	width: 140px;
}

.app button:hover {
	background: lightgrey;
}
.app button:active {
	background: grey;
	color: white;
}



#tapeinput {
	border: 1px solid grey;
	border-radius: 8px;
	outline: none;
	padding: 5px 0 5px 5px;
	height: 20px;
}

#tapeinput:hover {
	background: ghostwhite;
	transition: 0.3s;
}

#tapeinput:focus {
	background: white !important;
	border: 1px solid black;
	border-radius: 20px;
}

#temptape {
	display: block;
	max-width: 600px;
	width: 80%;
	height: 28pt;
	border: 1px solid gray;
	border-radius: 8px;
	padding: 5px 0 5px 5px;
	text-indent: 5px;
	overflow: hidden;
}

#run {
	background: #05A500FF;
	color: white;
}

#run:hover {
	background: #078500FF;
}

#run:active {
	background: #077500FF ;
}

#clear {
	color: white;
	background: #CB3E00FF;
}

#clear:hover {
background: #CD0000;
}

#clear:active {
background: #BB0000;
}

#how-to-use {
	font-weight: 400;
	font-size: 10pt;
	display: none;
}

#tmhelp:hover + #how-to-use{
	position: absolute;
	background: lightgrey;
	display: block;
	border-radius: 10px;
	padding: 5px 0px 5px 5px;
	width: 600px;
}
